<!-- <router-outlet></router-outlet> -->
<!-- Custom Directives 
<app-custom-directives></app-custom-directives> -->

<!-- route guard 
<app-route-header></app-route-header>
<router-outlet></router-outlet> -->

<!-- Promises and observables 
<app-home></app-home> -->

<!-- http interceptor 
<app-http-interceptor></app-http-interceptor> -->

<!-- trackBy 
<app-track-by></app-track-by> -->

<!-- Map test 
<app-map></app-map> -->

<!-- servers 
<app-servers></app-servers> -->

<!-- Maximillian Directive Assignment -->
<app-dir-assignment></app-dir-assignment>